<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<th:block th:fragment="footer">
    <footer>
        <div>
            <div>
                <div>
                    <div class="footerIcmic">ICMIC 2022</div>
                    <div class="footerVerySmall">International Conference on Maritime<br>IT Convergence 2022 (ICMIC 2022)</div>
                </div>
                <div class="footerInfo">
                    <p>The Korean Institutes of Communications and Information Sciences (KICS)</p>
                    <p class="footerMiddle">
                        #06296, 3F, 32-3, Nonhyeon-ro 38-gil, Gangnam-gu, Seoul, Republic of Korean
                        <br>
                        TEL: 82-2-3453-5555 / FAX: 82-2-539-5638 / E-mail: ictc@kics.or.kr
                        <br>
                        Business Registration Number: 214-82-01190
                    </p>
                    <p class="footerCopyright">
                        KICS © 2022 All Rights Reserved. Designed by
                        <a href="https://www.manuscriptlink.com/journals?lang=ko_KR" target="_blank">ManuscriptLink</a>
                    </p>
                </div>
            </div>
            <div><img width="150px" src="/img/logo-remove-bg.png"></div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="toBeDetermined" tabindex="-1" aria-labelledby="toBeDeterminedLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="toBeDeterminedLabel">To Be Determined.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("header nav").hover(
                function () {
                    $(".sub-nav").height('380px');
                }, function () {
                    $(".sub-nav").height('0');
                }
            );
        });
    </script>
</th:block>

</html>