/*--------------------------------------------------------------
# common
--------------------------------------------------------------*/

body {
    font-family: 'Noto Sans';
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body > header > nav,
body > nav > div,
main > article,
footer > div {
    /* 반응형 */
    width: 1200px;
    margin: 0 auto;
}


/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

body > header {
    margin-top: 45px;
}

body > header > nav > ul {
    display: flex;
}

body > header > nav > ul > li {
    width: 150px;
    padding: 0 13px;
    text-align: center;
    position: relative;
}

body > header > nav > ul > li > a {
    line-height: 80px;
    font-size: 16px;
    letter-spacing: -0.09rem;
    font-weight: 600;
    color: #303030;
}

.sub-nav {
    position: absolute;
    overflow: clip;
    left: 0;
    width: 150px;
    height: 0;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    background-color: rgba(237, 239, 247, .95);
}

.sub-nav > ul {
    padding-top: 20px;
}

.sub-nav > ul > li > a {
    display: block;
    padding: 10px 2px;
    font-size: 0.9rem;
}

.sub-nav > ul > li > a > span {
    letter-spacing: -0.9px;
}


/*--------------------------------------------------------------
# breadcrumb
--------------------------------------------------------------*/

body > nav {
    background-color: #3f81e4;
    height: 65px;
}

body > nav a {
    width: 60px;
    height: 65px;
    display: block;
    background: url(/img/ico_subhead_home.png) no-repeat center center #2768c8;
}

body > nav a > i {
    margin-top: 30px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}


/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
    background: #ebedef;
}

footer > div {
    padding: 22px 0 30px 0;
    color: #333;
    font-size: 15px;
    letter-spacing: -0.06em;
    display: flex;
    justify-content: space-between;
}

footer > div > div:first-child {
    display: flex;
}

footer > div > div:first-child > div:first-child {
    width: 160px;
    text-align: center;
}

.footerIcmic {
    font-size: 30px;
    font-weight: 900;
    color: #666;
    line-height: 35px;
    margin-bottom: 6px;
}

.footerVerySmall {
    font-size: 10px;
    color: #777;
    line-height: 12px;
}

.footerInfo {
    margin-left: 20px;
}

.footerMiddle {
    margin: 1rem 0;
}

.footerCopyright {
    font-size: 13px;
}