main > article {
    padding-bottom: 50px;
    background-color: white;
}

main > article > header {
    display: flex;
    padding: 60px 0 30px 0;
}

main > article > header > h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1rem;
    background-color: #555;
    color: white;
    padding: 8px 30px;
}

main > article > section {
    margin: 1em;
}

.btn, .btn:hover {
    color: #fff;
}

.fileDownload {
    background-color: #ed6b75;
    border-color: #ea5460;
}

.fileDownload:hover {
    background-color: #e73d4a;
    border-color: #e42735;
}

.goHomepage {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.goHomepage:hover {
    background-color: #286090;
    border-color: #23527c;
}

main > article > section a {
    color: #3F81E4;
}