table {
    text-align: center;
}

thead {
    background-color: #efefef;
}

thead tr {
    height: 50px;
}

tr {
    height: 40px;
    border-top: 0.5px solid #e0e0e0;
    border-bottom: 0.5px solid #e0e0e0;
}

main > article > section {
    border-bottom: 2px solid #333;
    line-height: 2rem;
}

main > article > section > header > h3 {
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
    padding-left: 1rem;
    margin-top: 20px;
}

main > article > section > div {
    padding: 1rem;
}

main > article > section a {
    color: #3F81E4;
}

.articleListWrapper {
    padding-left: 1rem;
}

.articleListWrapper > ul {
    list-style: circle;
    padding-left: 1rem;
}

.articleListWrapperLv2 {
    padding-left: 1rem;
}

.articleListWrapperLv2 > ul {
    list-style: disc;
    padding-left: 1rem;
}

span.emphasis {
    color: red;
}