main > article > section {
    border-bottom: 2px solid #3F81E4;
    margin: 1em;
    line-height: 2rem;
}

main > article > section > header > h3 {
    font-weight: bold;
    font-size: 1.3em;
    color: #27488b;
    padding-left: 1rem;
    margin-top: 20px;
}

main > article > section > div {
    padding: 1rem;
}

main > article > section a {
    color: #3F81E4;
}

.articleListWrapper {
    padding-left: 1rem;
}

.articleListWrapper > ul {
    list-style: circle;
    padding-left: 1rem;
}

span.emphasis {
    color: red;
}