body {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/ictc2022/img/77.png) no-repeat center top;
    background-size: 1920px 950px;
    background-color: #ebedef;
}

body > header > nav {
    background-color: white;
}

main > article:first-of-type > :first-child {
    display: flex;
    margin-top: 60px;
}

main > article:first-of-type > :first-child > div {
    padding: 0 15px;
}

#icmicInfo {
    flex: 7;
    color: white;
    font-weight: bold;
}

#icmicTitle {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #0069a0;
    font-size: 4.4rem;
    font-weight: 900;
    margin-bottom: 10px;
}

#icmicMeaning {
    font-size: 1.6em;
    margin: 20px 0;
}

#icmicDate {
    font-size: 2rem;
}

#icmicPlace {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 40px;
}

#icmicImage {
    flex: 13;
}

#icmicImage > img {
    width: 100%;
    margin-top: 20px;
}

body > main > article:first-child > div:last-child {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.bracket {
    width: 275px;
    height: 234px;
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/bg_tab_deco01.png) no-repeat top left, url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/bg_tab_deco02.png) no-repeat bottom right;
    background-size: 88%;
    margin-right: 60px;
}

.bracket > ul {
    padding: 15px 40px;
}

.bracket > ul > li {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #ddd;
    line-height: 67px;
    transition: all 0.3s;
    cursor: pointer;
}

.bracket > ul > li.selected {
    color: #91D2E4;
}

.bracket > ul > li:hover {
    color: #91D2E4;
}

.bracket > ul > li:last-child {
    border: none;
}

.linkBoxes ul {
    display: none;
    justify-content: space-between;
    width: 620px;
    padding: 15px;
}

.linkBoxes ul.selected {
    display: flex;
}

.linkBoxes a > div {
    width: 160px;
    height: 165px;
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/bg_link_color.png) no-repeat center center/cover;
    background-color: #91D2E4;
    position: relative;
}

.linkBoxes a > div::after {
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

.boxIcon1::after {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/it21/icon3.png);
}

.boxIcon2::after {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/it21/icon2_new.png);
}

.boxIcon3::after {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/it21/icon1.png);
}

.boxIcon4::after {
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/ico_link_08.png);
    background-size: 75px auto !important;
}

.boxIcon5::after {
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/ico_link_06.png);
}

.boxIcon6::after {
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/ico_link_07.png);
    background-size: 75px auto !important;
}

.boxIcon7::after {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/it21/icon4_new.png);
}

.boxIcon8::after {
    background: url(https://d2kjln74dkk4oj.cloudfront.net/vendor/it21sample/img/main/ico_link_09.png);
}

.boxIcon9::after {
    background: url(https://journal-home.s3.ap-northeast-2.amazonaws.com/site/it21/icon5_new.png);
}

.linkBoxes a > div > span {
    color: #fff;
    display: block;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.board {
    background-color: white;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 10%);
    padding: 40px 35px;
    letter-spacing: -0.1rem;
}

.board section {
    padding: 0 15px;
}

.board > div {
    display: flex;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    margin-bottom: 40px;
}

.board > div > section {
    width: 50%;
}

.board section > header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding-bottom: 0.8em;
    border-bottom: solid 1px #f3f3f3;
}

.board table {
    width: 100%;
}

.board td {
    padding: 8px;
    font-size: 1.25em;
}

.board td:first-of-type {
    text-align: left;
    font-weight: bold;
}

.board td:last-of-type {
    text-align: right;
}

td.emphasis {
    color: #4D8CC9;
    font-weight: bold;
}