#icmicImage {
    height: 300px;
    overflow: hidden;
}

#icmicImage > img {
    width: 100%;
    margin-top: -60px;
}

.board {
    background-color: white;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 10%);
    padding: 40px 35px;
    letter-spacing: -0.1rem;
}

.board section {
    padding: 0 15px;
}

.board > div {
    display: flex;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    margin-bottom: 40px;
}

.board > div > section {
    width: 50%;
}

.board section > header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding-bottom: 0.8em;
    border-bottom: solid 1px #f3f3f3;
}

.board table {
    width: 100%;
}

.board td {
    padding: 8px;
    font-size: 1.25em;
}

.board td:first-of-type {
    text-align: left;
    font-weight: bold;
}

.board td:last-of-type {
    text-align: right;
}

td.emphasis {
    color: #4D8CC9;
    font-weight: bold;
}

.board > div > section:nth-child(2) a:hover {
    color: inherit;
}

.patron {
    margin: 0 10px;
}