#icmicImage {
    height: 300px;
    overflow: hidden;
}

#icmicImage > img {
    width: 100%;
    margin-top: -60px;
}

.board {
    background-color: white;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 10%);
    padding: 40px 35px;
    letter-spacing: -0.1rem;
}

.board section {
    padding: 0 15px;
}

.board > div {
    display: flex;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    margin-bottom: 40px;
}

.board section > header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding-bottom: 0.8em;
    border-bottom: solid 1px #f3f3f3;
}

#schedule {
    width: 100%;
}

#schedule > div {
    display: flex;
    flex-wrap: wrap;
}

#schedule > div > div {
    width: 350px;
    padding: 20px 30px;
    font-weight: bold;
}

#schedule > div > div > div:first-child {
    font-size: 1.35rem;
    letter-spacing: -0.05rem;
    margin-bottom: 10px;
    color: #505050;
}

#schedule > div > div > div:last-child {
    font-size: 1.2rem;
    color: #4681a8;
}

.patron {
    margin: 0 10px;
}