<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/info-style-content.css">

    <style>
        .fileDownload {
            float: right;
            line-height: 1.3rem;
            font-size: 15px;
            margin-right: 1em;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <article>
            <!-- 본문 타이틀 -->
            <header>
                <h3>Call for Papers</h3>
            </header>

            <br>

            <!-- 본문 -->
            <a href="/ICIMIC 2022 CFP.pdf" target="_blank" class="btn fileDownload">
                <i class="fas fa-download"></i>
                &nbsp;Call for Paper Download
            </a>

            <section>
                <header>
                    <h3>GENERAL INFORMATION</h3>
                </header>
                <div>
                    The International Conference on Maritime IT Convergence (ICMIC) will be inaugurated in 2022 with
                    aims to promote convergence activities of maritime, terrestrial and aerial communications as well as
                    related advanced wireless communications. Recognizing that maritime communications will usually
                    involve ship-to-ship and ship-to-shore communication, maritime ICT technologies will bring some
                    mature but still evolving terrestrial wired/wireless communication technologies to its own use for
                    future smart maritime communications. More specifically, the conference will focus on addressing
                    challenges of maritime communications with ICT convergence or advanced future communications
                    over various industrial sectors, academia and practice engineers. The conference will include keynote
                    sessions, invited special sessions and technical paper sessions.
                </div>
            </section>

            <section>
                <header>
                    <h3>RELATED TOPICS</h3>
                </header>
                <div>
                    Potential topics in this conference include, but not limited to:
                    <div class="articleListWrapper">
                        <ul>
                            <li>Maritime wireless communications</li>
                            <li>Maritime artificial intelligence and machine learning</li>
                            <li>6G, 5G and LTE-Advanced networks</li>
                            <li>Autonomous driving</li>
                            <li>Remote control</li>
                            <li>Unmanned aerial vehicle</li>
                            <li>Underwater wireless communications</li>
                            <li>Machine-to-machine and D2D communications</li>
                            <li>Military communication technologies</li>
                            <li>Satellite communications</li>
                            <li>Internet of Things</li>
                            <li>Mobile Cloud Computing</li>
                            <li>Mobile S/W and Data Science</li>
                            <li>Big Data and Smart Computing</li>
                            <li>Deep Learning-based Object Recognition</li>
                            <li>Behavior Pattern Awareness</li>
                            <li>VR, AR</li>
                            <li>Metaverse Applications</li>
                            <li>Indoor Positioning and Navigation Systems</li>
                            <li>Smart Factory</li>
                            <li>u-Healthcare Systems, Bio-informatics & Its Applications</li>
                            <li>Smart Cities</li>
                            <li>Vehicular Information and Communication Technologies</li>
                            <li>Intelligent Transportation Systems</li>
                            <li>Encryption and Security for ICT Convergence</li>
                            <li>Block Chain</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <header>
                    <h3>SUBMISSIONS</h3>
                </header>
                <div>
                    ICMIC invites the submissions of original, unpublished research works that are currently not under review. Papers can be submitted via the EDAS system at
                    <a target="_blank" href="https://edas.info/N29776">https://edas.info/N29776</a>.
                    <div class="articleListWrapper">
                        <ul>
                            <li>Work-in-progress : 1 ~ 2 pages</li>
                        </ul>
                    </div>
                    Detailed formatting and submission guidelines are available at the conference website
                    <a target="_blank" href="http://icmic-conf.org">http://icmic-conf.org</a>.
                </div>
            </section>

            <section>
                <header>
                    <h3>PRESENTATION</h3>
                </header>
                <div>
                    The accepted paper will be presented in an oral session. All accepted papers will appear in the
                    ICMIC 2022 proceedings only if at least one of the authors register the conference to present the
                    paper.
                </div>
            </section>

            <section>
                <header>
                    <h3>JOURNAL PUBLICATION</h3>
                </header>
                <div>
                    Extended versions of selected papers will be invited for publication in SCIE indexed journals such
                    as ICT Express, Electronics, International Journal of Sensors, Wireless Communications and Control
                    and other journals.
                </div>
            </section>

            <section>
                <header>
                    <h3>IMPORTANT DATES</h3>
                </header>
                <div>
                    <div class="articleListWrapper">
                        <ul>
                            <li>Paper submission deadline: <span class="emphasis">July 31, 2022</span></li>
                            <li>Notification of acceptance: <span class="emphasis">August 15, 2022</span></li>
                            <li>Camera ready deadline : <span class="emphasis">August 31, 2022</span></li>
                            <li>Author registration deadline: <span class="emphasis">August 31, 2022</span></li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>