<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/list-style-content.css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <article>
        <!-- 본문 타이틀 -->
        <header>
            <h3>Committees</h3>
        </header>

        <br>

        <!-- 본문 -->
        <section id="advisory">
            <header>
                <ul>
                    <li>International Advisory Committee</li>
                </ul>
            </header>
            <ul>
                <li>Woong Seo Kim <span>Korea Institute of Ocean Science and Technology, Korea</span></li>
                <li>Yoan Shin <span>Soongsil University, Korea</span></li>
                <li>Zabih Ghassemlooy <span>Northumbria University, UK</span></li>
                <li>Murat Uysal <span>Ozyegin University, Turkey</span></li>
                <li>Dong Jin Kang <span>Korean Society of Oceanography, Korea</span></li>
                <li>Mohammad-Ali Khalighi <span>Ecole Centrale Marseille, France</span></li>
            </ul>
        </section>

        <section id="general-chairs">
            <header>
                <ul>
                    <li>General (co-)Chairs</li>
                </ul>
            </header>
            <ul>
                <li>Yeon Ho Chung <span>Pukyong National University, Korea</span></li>
                <li>Dong Myung Lee <span>Tongmyong University, Korea</span></li>
            </ul>
        </section>

        <section id="technical-chairs">
            <header>
                <ul>
                    <li>Technical Program Committee (co-)Chairs</li>
                </ul>
            </header>
            <ul>
                <li>Seungjae Baek <span>Korea Institute of Ocean Science and Technology, Korea</span></li>
                <li>Kyung-Rak Sohn <span>Korea Maritime and Ocean University, Korea</span></li>
            </ul>
        </section>

        <section id="technical">
            <header>
                <ul>
                    <li>Technical Program Committee</li>
                </ul>
            </header>
            <ul>
                <li>Chanjun Chun <span>Chosun University, Korea</span></li>
                <li>Dong Wook Cho <span>Chungbuk Provincial University, Korea</span></li>
                <li>Hyuntae Cho <span>Tongmyong University, Korea</span></li>
                <li>Inoh Choi <span>Korea Maritime and Ocean University, Korea</span></li>
                <li>Wooyeol Choi <span>Chosun University, Korea</span></li>
                <li>Dong Sung Kim <span>Kumoh National University of Technology, Korea</span></li>
                <li>Gyung Bae Kim <span>Seowon University, Korea</span></li>
                <li>Suk Chan Kim <span>Pusan National University, Korea</span></li>
                <li>Taewoon Kim <span>Hallym University, Korea</span></li>
                <li>Yongjae Kim <span>Korea Institute of Ocean Science and Technology, Korea</span></li>
                <li>Yonggang Kim <span>Kongju National University, Korea</span></li>
                <li>Jin Hwan Koh <span>Gyeongsang National University, Korea</span></li>
                <li>Woo Yong Lee <span>ETRI, Korea</span></li>
                <li>Wang Sang Lee <span>Gyeongsang National University, Korea</span></li>
                <li>Sung Hoon Lim <span>Hallym University, Korea</span></li>
                <li>Yeon Man Jeong <span>Gangneung-Wonju National University, Korea</span></li>
                <li>Yujae Song<span>Kumoh National University of Technology, Korea</span></li>
            </ul>
        </section>

        <section id="organizing">
            <header>
                <ul>
                    <li>Organizing Committee</li>
                </ul>
            </header>
            <ul>
                <li>Yongjae Kim <span>Finance Chair</span></li>
                <li>Suk Chan Kim <span>Publicity Chair</span></li>
                <li>Yonggang Kim <span>Registration Chair</span></li>
                <li>Inoh Choi <span>Publication Chair</span></li>
                <li>Yujae Song <span>Web Chair</span></li>
            </ul>
        </section>
    </article>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>