<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
    <style>
        .row {
            padding-left: 4em;
        }

        .col-md-10 > p {
            margin-top: -1em;
        }

        .committee-block > ul {
            list-style: none;
            padding-left: 0;
            margin-top: 1.5em;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>
<main>
    <article>
        <!-- 본문 타이틀 -->
        <header>
            <h2>Committee</h2>
            <h3>International Advisor Committee</h3>
        </header>

        <br>

        <!-- 본문 -->

        <section>
            <div class="committee-block">
                <h4>General (co-)chair</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yeon-Ho Chung</h5>
                                <p>
                                    <span>Pukyong National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Dong-Myung Lee</h5>
                                <p>
                                    <span>Tongmyong University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Technical program (co-)committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Seung-Jae Baek</h5>
                                <p>
                                    <span>Korea Institute of Ocean Science & Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Kyung-Rak Sohn</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Technical program committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yeon-Ho Chung</h5>
                                <p>
                                    <span>Pukyong National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Dong-Myung Lee</h5>
                                <p>
                                    <span>Tongmyong University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Seung-Jae Baek</h5>
                                <p>
                                    <span>Korea Institute of Ocean Science & Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Kyung-Rak Sohn</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Jae-Hong Lim</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yong-Jae Kim</h5>
                                <p>
                                    <span>Korea Institute of Ocean Science & Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yu-Jae Song</h5>
                                <p>
                                    <span>Kumoh National Institute of Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Woo-Yeol Choi</h5>
                                <p>
                                    <span>Chosun University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Sung-Hoon Lim</h5>
                                <p>
                                    <span>Hallym University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Woo-Yong Lee</h5>
                                <p>
                                    <span>Electronics and Telecommunications Research Institute</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Keun-Young Kim</h5>
                                <p>
                                    <span>Electronics and Telecommunications Research Institute</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Jin-Hwan Go</h5>
                                <p>
                                    <span>Gyeongsang National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Wang-Sang Lee</h5>
                                <p>
                                    <span>Gyeongsang National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Hyun-Tae Cho</h5>
                                <p>
                                    <span>Tongmyong University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Seok-Chan Kim</h5>
                                <p>
                                    <span>Pusan National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yeon-Man Jung</h5>
                                <p>
                                    <span>Gangneung-Wonju National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yong-Gang Kim</h5>
                                <p>
                                    <span>Kongju National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Dong-Wook Cho</h5>
                                <p>
                                    <span>Chungbuk Provincial College</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Tae-Woon Kim</h5>
                                <p>
                                    <span>Hallym University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Chan-Jun Chun</h5>
                                <p>
                                    <span>Chosun University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>In-Oh Choi</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Organizing committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yong-Jae Kim</h5>
                                <p>
                                    <span>Finance Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Seok-Chan Kim</h5>
                                <p>
                                    <span>Publicity Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yong-Gang Kim</h5>
                                <p>
                                    <span>Registration Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>In-Oh Choi</h5>
                                <p>
                                    <span>Publication Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Yu-Jae Song, Yong-Gang Kim</h5>
                                <p>
                                    <span>Web Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>International advisor committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>TBD</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
    </article>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>