<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
    <style>
        .row {
            padding-left: 4em;
        }

        .col-md-10 > p {
            margin-top: -1em;
        }

        .committee-block > ul {
            list-style: none;
            padding-left: 0;
            margin-top: 1.5em;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>
<main>
    <article>
        <!-- 본문 타이틀 -->
        <header>
            <h2>Committee</h2>
            <h3>International Advisor Committee</h3>
        </header>

        <br>

        <!-- 본문 -->

        <section>
            <div class="committee-block">
                <h4>General (co-)chair</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Yeon-Ho Chung</h5>
                                <p>
                                    <span>Pukyong National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Dong-Myung Lee</h5>
                                <p>
                                    <span>Tongmyong University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Technical program (co-)committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Seung-Jae Baek</h5>
                                <p>
                                    <span>Korea Institute of Ocean Science & Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Kyung-Rak Sohn</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Technical program committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Yeon-Ho Chung</h5>
                                <p>
                                    <span>Pukyong National University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Dong-Myung Lee</h5>
                                <p>
                                    <span>Tongmyong University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Seung-Jae Baek</h5>
                                <p>
                                    <span>Korea Institute of Ocean Science & Technology</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Kyung-Rak Sohn</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Prof. Dr. Jae-Hong Lim</h5>
                                <p>
                                    <span>Korea Maritime & Ocean University</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김용재</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>송유재</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>최우열</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>임성훈</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>이우용</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김근영</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>고진환</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>이왕상</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>조현태</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김석찬</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>정연만</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김용강</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>조동욱</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김태훈</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>전찬준</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>최인오</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>Organizing committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김용재</h5>
                                <p>
                                    <span>Finance Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김석찬</h5>
                                <p>
                                    <span>Publicity Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>김용강</h5>
                                <p>
                                    <span>Registration Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>최인오</h5>
                                <p>
                                    <span>Publication Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>송유재, 김용강</h5>
                                <p>
                                    <span>Web Chair</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="committee-block">
                <h4>International advisor committee</h4>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>TBD</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
    </article>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>