<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <article>
            <div>
                <div id="icmicInfo">
                    <div id="icmicTitle">ICMIC 2022</div>
                    <div id="icmicMeaning">International Conference on Maritime IT Convergence</div>
                    <div id="icmicDate">Sep. <i>22</i> THU.-<i>23</i> FRI. 2022</div>
                    <div id="icmicPlace">Sono Calm, Jeju Island, Korea</div>
                </div>
                <div id="icmicImage">
                    <img src="/img/resort0101.jpg">
                </div>
            </div>
            <div style="height: 265px; background-color: #999999; line-height: 265px; text-align: center; font-size: 30px; color: #666;">
                will be revealed later!
            </div>
        </article>
        <article class="board">
            <div>
                <section>
                    <header>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        &nbsp;Important Dates
                    </header>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>CFP Release</td>
                                    <td class="emphasis">May 06, 2022</td>
                                </tr>
                                <tr>
                                    <td>Paper Submission Deadline</td>
                                    <td class="emphasis">July 31, 2022</td>
                                </tr>
                                <tr>
                                    <td>Notification of Acceptance</td>
                                    <td class="emphasis">August 15, 2022</td>
                                </tr>
                                <tr>
                                    <td>Camera-ready Deadline</td>
                                    <td class="emphasis">August 31, 2022</td>
                                </tr>
                                <tr>
                                    <td>Author Registration Deadline</td>
                                    <td class="emphasis">August 31, 2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <header>
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        &nbsp;News & Notice
                    </header>
                    <div><br>will be revealed later!<br><br></div>
                </section>
            </div>
            <section>
                <header>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    &nbsp;Keynote Speakers
                </header>
                <div><br>will be revealed later!<br><br></div>
            </section>
            <section>
                <header>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    &nbsp;Industrial Session Speakers
                </header>
                <div><br>will be revealed later!<br><br></div>
            </section>
            <div>
                <section>
                    <header>
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        &nbsp;Organized by
                    </header>
                    <div>
                        <br>
                        <img width="35%" src="/img/logo-remove-bg.png">
                        <br><br>
                    </div>
                </section>
                <section>
                    <header>
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        &nbsp;Technically Co-Sponsored by
                    </header>
                    <div><br>will be revealed later!<br><br></div>
                </section>
            </div>
            <section>
                <header>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    &nbsp;Patrons
                </header>
                <div><br>will be revealed later!<br><br></div>
            </section>
        </article>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>