<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <article>
            <div>
                <div id="icmicImage">
                    <img src="/img/resort0101.jpg">
                </div>
            </div>
        </article>
        <article class="board">
            <div>
                <section id="schedule">
                    <header>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;Important Dates
                    </header>
                    <div>
                        <div>
                            <div>CFP Release</div>
                            <div>May 06, 2022</div>
                        </div>
                        <div>
                            <div>Paper Submission Deadline</div>
                            <div>August 12, 2022 (Firm)</div>
                        </div>
                        <div>
                            <div>Notification of Acceptance</div>
                            <div>August 22, 2022</div>
                        </div>
                        <div>
                            <div>Camera-ready Deadline</div>
                            <div>August 31, 2022</div>
                        </div>
                        <div>
                            <div>Author Registration Deadline</div>
                            <div>August 31, 2022</div>
                        </div>
                    </div>
                </section>
            </div>
            <div>
                <section style="width: 20%">
                    <header>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;Organized by
                    </header>
                    <div style="padding: 10px 0">
                        <img height="80px" style="margin-bottom: 10px" src="/img/logo-remove-bg.png">
                    </div>
                </section>
            </div>
            <div>
                <section>
                    <header>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp;Patrons
                    </header>
                    <div style="padding: 10px 0">
                        <img class="patron" height="80px" src="/img/patrons/patron1.png">
                        <img class="patron" height="70px" src="/img/patrons/patron2.png">
                        <img class="patron" height="60px" src="/img/patrons/patron3.png">
                        <img class="patron" height="70px" src="/img/patrons/patron4.png">
                        <img class="patron" height="45px" src="/img/patrons/patron5.png">
                    </div>
                </section>
            </div>
        </article>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/main.js"></script>
</body>

</html>