<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <article>
        <!-- 본문 타이틀 -->
        <header>
            <h3>INFORMATION</h3>
        </header>

        <br>

        <!-- 본문 -->
        <section>
            <div>
                In regards to paper presentation, the oral presenters will have 15 minutes per paper, including questions and answers. For the authors of the poster session papers, we will run the poster session where a five-minute slide show for each paper will be conducted by the Chair in the poster session room. Therefore, the authors are requested to submit a PowerPoint slide of approximately up to 7 pages via email to the organizer, Prof. Yonggang Kim, at <a href="mailto:icmic@icmic-conf.org">icmic@icmic-conf.org</a>.
            </div>
        </section>
    </article>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>