<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/content.css">
    <style>
        iframe {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <article>
        <!-- 본문 타이틀 -->
        <header>
            <h3>Program at a Glance</h3>
        </header>

        <!-- 본문 -->
        <section>
            <iframe width="80%" height="800px" src="/finalProgram_ver20220914_1500 (pre-final).pdf"></iframe>
        </section>
    </article>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>